.shiki-container pre {
  background-color: transparent !important; /* Remove background color */
}

.shiki-container code {
  background-color: transparent !important; /* Remove background color */
}

#root {
  background-color: slateblue;
}
